node_modules
dist
pnpm-lock.yaml
CHANGELOG.en-US.md
docs/components.d.ts
coverage
play
docs
ssr-testing/cases/*
docs/.vitepress/i18n/*
docs/.vitepress/crowdin/*
packages/saury-icon/*
!docs/.vitepress/crowdin/en-US
!.*